<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company Manager</title>
    <link rel="stylesheet" th:href="@{/css/main-styles.css}"/>
</head>
<body>
<div class="header">
    <div class="header-container">
        <img src="/image/contact-logo.svg" alt="LOGO" class="header-logo"/>
        <h1>Contact Manager</h1>
    </div>
</div>

<nav>
    <ul class="navbar">
        <li><a th:href="@{/contacts}">Contacts</a></li>
        <li><a th:href="@{/companies}">Companies</a></li>
    </ul>
</nav>

<div style="width: 100%; justify-content: center; flex-direction: column; display: flex">
    <div style="justify-content: center; display: flex">
        <div class="add-button">
            <a href="#" class="open-modal-button" style="width: 20px; height: 20px; margin-left: -90px" data-action="/companies/add">
                <img src="/image/plus.svg" alt="Add new contact" style="width: 20px; height: 20px"/>
            </a>
        </div>
    </div>
    <ul class="list">
        <li th:each="company : ${companies}">
            <div>
                <div>
                    <strong class="industry-name" th:text="${company.name}"></strong>
                    <br/>
                    <span class="industry-label">Industry:</span>
                    <span class="industry-name" th:text="${company.industry}"></span>
                </div>
            </div>

            <div class="button-container">
                <form action="#" method="get">
                    <input type="hidden" name="id" th:value="${company.id}" />
                    <button type="submit" class="open-modal-button"
                            th:data-id="${company.id}"
                            th:data-name="${company.name}"
                            th:data-industry="${company.industry}"
                            th:data-action="@{/companies/edit}">
                        <img src="/image/edit.svg" alt="Edit"/>
                    </button>
                </form>

                <form action="/companies/remove" method="post">
                    <input type="hidden" name="id" th:value="${company.id}"/>
                    <button type="submit" class="remove">
                        <img src="/image/trash-bin.svg" alt="Remove" />
                    </button>
                </form>
            </div>

        </li>
    </ul>
</div>

<div th:replace="~{fragments/add-company-modal.html}"></div>

<script src="/js/modal.js"></script>

</body>
</html>
